@charset "UTF-8";
/* 포토갤러리 List */
.photo_list { margin-top:10px; padding:10px 0; border-top:2px solid #0072ff; border-bottom:1px solid #c8d1db; overflow:hidden; }
.photo_list ul { margin:-.5rem; padding:.5rem 0; }
.photo_list ul li { width:25%; padding:.5rem; float:left; }
.photo_list ul li.cont_none { text-align:center; font-family:"SCDream"; font-size:.95rem; width:100%; font-weight:600; }
.photo_list ul li a { display:block; text-align:center; border:1px solid #c8d1db; }
.photo_list ul li img { width:100%; height:200px; }
.photo_list ul li .txt { display:block; padding:1rem; }
.photo_list ul li .lst_tit { display:block; height:1.2rem; font-family:'SCDream'; font-size:.8rem; color:#222; font-weight:600; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; }
.photo_list ul li .lst_tit i {margin-right:.25rem;}
.photo_list ul li .lst_tit b.btn_S.btn_default {vertical-align:top; margin-right:.25rem;}
.photo_list ul li .date { display:block; margin-top:.5rem; font-family:'Sora'; font-size:.75rem; color:#888; }
.photo_list ul li span.btn_S { display:inline-block; *display:inline; zoom:1; margin:0; font-size:12px; color:#fff; line-height:20px; text-align:center; border-radius:3px; vertical-align:middle; -ms-touch-action:manipulation; touch-action:manipulation; border:1px solid transparent; white-space:nowrap; padding:0 8px; }
.photo_list ul li .img { position:relative; display:block; width:100%; height:200px; background-color:#e8ecf4; overflow:hidden; }
.photo_list ul li .img:before { position:absolute; top:50%; left:50%; width:79px; height:39px; -webkit-transform:translate(-50%, -50%); transform:translate(-50%, -50%); background:url(/images/co/na/no_img.png)no-repeat center/cover; content:''; opacity:.4; }
.photo_list ul li .img > span { position:absolute; top:50%; left:50%; -webkit-transform:translate(-50%, -50%); transform:translate(-50%, -50%); display:block; width:100%; height:100%; background-size:contain; background-position:center; background-repeat:no-repeat; z-index:1; -webkit-transition:transform .3s; transition:transform .3s; }
.photo_list ul li a:hover .img > span,
.photo_list ul li a:focus .img > span { -webkit-transform:translate(-50%, -50%) scale(1.1); transform:translate(-50%, -50%) scale(1.1); }

/* 포토갤러리 List2 (타이틀 + 내용) */
.photo_list2 { margin-top:10px; border-top:2px solid #0072ff; overflow:hidden; }
.photo_list2 ul li { padding:1rem 0; border-bottom:1px solid #c8d1db; }
.photo_list2 ul li a { position:relative; display:block; overflow:hidden; }
.photo_list2 ul li .img { position:relative; width:250px; height:150px; float:left; background-color:#e8ecf4; overflow:hidden; }
.photo_list2 ul li .img:before { position:absolute; top:50%; left:50%; width:79px; height:39px; -webkit-transform:translate(-50%, -50%); transform:translate(-50%, -50%); background:url(/images/co/na/no_img.png)no-repeat center/cover; content:''; opacity:.4; }
.photo_list2 ul li .img > span { position:absolute; top:50%; left:50%; -webkit-transform:translate(-50%, -50%); transform:translate(-50%, -50%); display:block; width:100%; height:100%; background-size:contain; background-position:center; background-repeat:no-repeat; z-index:1; -webkit-transition:transform .3s; transition:transform .3s; }
.photo_list2 ul li .img > span img {width:100%;height: 100%;}
.photo_list2 ul li dl { float:left; width:calc(100% - 250px); padding-left:1rem; }
.photo_list2 ul li dt { line-height:40px; font-size:.8rem; color:#222; font-family:'SCDream'; font-weight:600; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; }
.photo_list2 ul li dd.txt { height:83px; font-size:.7rem; line-height:1.5; color:#666; overflow:hidden; font-weight:200; }
.photo_list2 ul li dd.date { margin-top:.5rem; font-size:.65rem; color:#888; font-family:'Sora', 'SCDream'; float:right; }
.photo_list2 ul li dd.date span { position:relative; margin-left:10px; padding-left:10px; }
.photo_list2 ul li dd.date span:before { position:absolute; top:50%; left:0; width:1px; height:10px; background:#ccc; -webkit-transform:translateY(-50%); transform:translateY(-50%); content:''; }
.photo_list2 ul li .new_cont { display:inline-block; vertical-align:middle; color:#0072ff; font-size:1rem; }

.photo_list2 ul li a:hover .img > span,
.photo_list2 ul li a:focus .img > span { -webkit-transform:translate(-50%, -50%) scale(1.1); transform:translate(-50%, -50%) scale(1.1); }


/* 포토갤러리 List3(뉴스레터 대응) */
.photo_list3 { margin-top:.5rem; border-top:2px solid #0072ff; border-bottom:1px solid #c8d1db; overflow:hidden; }
.photo_list3 ul { margin:0 -.5rem; padding:.5rem 0; overflow:hidden; }
.photo_list3 ul li { width:25%; padding:.5rem; float:left; }
.photo_list3 ul li a { display:block; text-align:center; padding:0; border:1px solid #c8d1db; }
.photo_list3 ul li .img { position:relative; display:block; width:100%; height:25rem; background-color:#e8ecf4; overflow:hidden; }
.photo_list3 ul li .img:before { position:absolute; top:50%; left:50%; width:79px; height:39px; -webkit-transform:translate(-50%, -50%); transform:translate(-50%, -50%); background:url(/images/co/na/no_img.png)no-repeat center/cover; content:''; opacity:.4; }
.photo_list3 ul li .img > span { position:absolute; top:50%; left:50%; -webkit-transform:translate(-50%, -50%); transform:translate(-50%, -50%); display:block; width:100%; height:100%; background-size:contain; background-position:center; background-repeat:no-repeat; z-index:1; -webkit-transition:transform .3s; transition:transform .3s; }
.photo_list3 ul li .lst_tit { display:block; padding:1rem; font-size:.8rem; color:#222; font-family:'SCDream'; font-weight:600; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; }
.photo_list3 ul li .btn_st a.mini { margin-top:.5rem; padding:.5rem; font-weight:500; }
.photo_list3 ul li .new_cont { display:inline-block; vertical-align:middle; color:#0072ff; font-size:1rem; }
.photo_list3 ul li a:hover .img > span,
.photo_list3 ul li a:focus .img > span { -webkit-transform:translate(-50%, -50%) scale(1.1); transform:translate(-50%, -50%) scale(1.1); }
/* .photo_list3 ul li span { display:block; font-size:13px; color:#888; }
.photo_list3 ul li span.btn_S { display:inline-block; *display:inline; zoom:1; margin:0; font-size:12px; color:#fff; line-height:20px; text-align:center; border-radius:3px; vertical-align:middle; -ms-touch-action:manipulation; touch-action:manipulation; border:1px solid transparent; white-space:nowrap; padding:0 8px; }
 */
/* 포토갤러리 뷰 */
.photo_top_list { position:relative; margin-top:20px; }
.photo_top_list ul { overflow:hidden; }
.photo_top_list ul h3 span { float:right; }
.photo_top_list ul li { width:100%; float:left; text-align:center; /* opacity:0.7; */ border-top:1px solid #b2b7c7; }
.photo_top_list ul li h3 { float:left; }
.photo_top_list ul li.on { opacity:1; }
.photo_top_list .img { width:75%; height:600px; position:relative; margin-top:15px; text-align:center; }
.photo_top_list .btn_prev { position:absolute; left:0; top:50%; margin-top:-17px; display:block; width:33px; height:33px; text-indent:-10000em; font-size:0; border:1px solid #b2b7c7; background:url('/images/co/na/btn_page_l.gif') no-repeat; }
.photo_top_list .btn_next { position:absolute; right:0; top:50%; margin-top:-17px; display:block; width:33px; height:33px; text-indent:-10000em; font-size:0; border:1px solid #b2b7c7; background:url('/images/co/na/btn_page_r.gif') no-repeat; }

/* 포토갤러리 - 썸네일 페이지 뷰 */
.photo_thumb_list { position:relative; margin-top:30px; }
.photo_thumb_list ul { padding:15px 50px 0; overflow:hidden; }
.photo_thumb_list ul h3 span { float:right; }
.photo_thumb_list ul li { width:100%; float:left; text-align:center; opacity:0.7; border-top:1px solid #b2b7c7; }
.photo_thumb_list ul li.on { opacity:1; }
.photo_thumb_list .thumbImg { width:50px; height:50px; position:relative; margin-top:15px; text-align:center; }
.thumbSlider .thumb_btn_prev { position:absolute; left:280px; top:55px; margin-top:-17px; display:block; width:33px; height:33px; text-indent:-10000em; font-size:0; background:url('/images/co/na/btn_page_l.gif') no-repeat; }
.thumbSlider .thumb_btn_next { position:absolute; right:280px; top:55px; margin-top:-17px; display:block; width:33px; height:33px; text-indent:-10000em; font-size:0; background:url('/images/co/na/btn_page_r.gif') no-repeat; }
