@charset "utf-8";

@import url(common.css);

#container {
	position: relative;
	background: #fbf4e5;
	margin: -21px;
	padding: -21px;
	width: 100% -4px;
}

#container:after {
	content: "";
	display: block;
	clear: both;
}

.main_content {
	position: relative;
	z-index: 7;
	width: 956px;
	margin: 0 auto;
	padding: 0 0 70px 0;
}

.main_content:after {
	content: "";
	display: block;
	clear: both;
}

.main_content h1 {
	width: 956px;
	height: 50px;
	padding-top: 140px;
	background: url(/images/classHome/template5/main/m_visual1.jpg)
		no-repeat 0 0;
	text-align: center;
	margin-bottom: 37px;
}

.main_content h1 a {
	font-size: 24px;
	color: #8a4e22;
}

.cont_1 {
	position: relative;
	float: left;
	width: 703px;
	height: 701px;
}

.cont_1:after {
	content: "";
	display: block;
	clear: both;
}

.cont_2 {
	position: absolute;
	width: 225px;
	top: 240px;
	right: 0;
}
/* 메인 비주얼 */
.main_visual {
	width: 100% -4px;
}

/* 카테고리 */
.category {
	position: relative;
	width: 100%;
	height: 400px;
	border-radius: 10px;
	background-color: #fbf4e5;
}

.category h2 {
	border-radius: 10px 10px 0 0;
	height: 35px;
	font-size: 16px;
	color: #cd853f;
	background: #f6f5b5;
	padding: 12px 0 0 12px;
	margin: 0 auto;
}

.category ul {
	height: 380px;
	font-family: '돋움', Dotum;
	border-radius: 0 0 10px 10px;
	background: #fff;
	overflow: hidden;
	overflow-y: scroll;
	margin: 0 auto;
}

.category li {
	font-size: 13px;
	height: 39px;
	line-height: 39px;
	border-bottom: 1px solid #d2d2d2;
	background: #fff;
	list-style: none;
}

.category li a {
	display: inline-block;
	color: #666;
	letter-spacing: -0.05em;
}

.category li a:hover {
	color: #a3a3a3;
	text-decoration: none;
}

.category li:last-child {
	border-bottom: none;
}
/* 우리반시간표 */
.schedule {
	position: absolute;
	margin: 10px 0 0 0;
	left: 0;
	top: 440px;
	width: 338px;
	height: 252px;
	background: #fff;
	border-radius: 10px;
	overflow: hidden;
	background: #f6f5b5;
	color: #cd853f;
}

.schedule h2 {
	display: inline-block;
	*display: inline;
	zoom: 1;
	font-size: 16px;
	font-family: "NanumBold";
	height: 22px;
	line-height: 22px;
	padding: 0 0 0 20px;
}

.schedule .inner {
	width: 338px;
	height: 215px;
	text-align: center;
	overflow: hidden;
	overflow-y: scroll;
	white-space: nowrap
}

.schedule table {
	background: #fff;
	width: 100%;
	font-size: 12px
}

.schedule caption {
	background-color: #fff;
	color: black;
}

.schedule table th, .schedule table td {
	border-left: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	padding: 6px 8px;
	line-height: 18px
}

.schedule table th:first-child, .schedule table td:first-child {
	border-left: 0;
	color: #3f7448
}

.schedule table th {
	background-color: #5a5a5a;
	text-align: center;
	color: #fff
}

.schedule table td {
	color: #666
}

.notice_area {
	width: 768px;
	margin-top: 20px;
	*padding-top: 20px;
}

.notice_area div {
	float: left;
	margin-left: 27px;
}

.notice_area .m_noti01 {
	margin-left: 0;
}

/* 게시판 */
.notice {
	width: 338px;
	height: 205px;
	position: relative;
		overflow: hidden;
	overflow-y: scroll;
	border-radius: 10px;
	background: #fff;
}

.notice h2 {
	font-size: 16px;
	font-family: "NanumBold";
	color: #cd853f;
	background-color: #f6f5b5;
	padding: 22px 0 10px 20px;
	margin: 0 auto;
	height: 22px;
	line-height: 10px;
}

.notice .list_box {
	overflow: hidden;
	font-family: '돋움', Dotum;
	font-size: 12px;
	padding: 6px 0 0;
	line-height: 26px;
	*line-height: 24px
}

.notice .list_box li {
	background: url(/images/classHome/template5/main/bul_dot_list.gif)
		no-repeat 20px 10px;
	overflow: hidden;
	font-size: 12px;
	padding-left: 30px;
	line-height: 24px;
}

.notice .list_box li a {
	color: #706a5f
}

.notice .list_box li a:hover {
	text-decoration: underline;
}

.notice .list_box li span.text {
	float: left;
	width: 70%;
	*width: 60%;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.notice .list_box li span.date {
	float: right;
	color: #797979;
	margin-right: 20px;
}

.notice .btn_more {
	font-size: 0;
	line-height: 0;
	text-indent: -9999em;
	position: absolute;
	right: 20px;
	top: 20px;
	width: 20px;
	height: 20px;
	background: url(../img/category.png) no-repeat;
}

/* 학급앨범 */
.gallery {
	width: 591px;
	height: 256px;
	margin-top: 215px;
	position: absolute;
	left: 366px;
	overflow: hidden;
	border-radius: 10px;
	background: #fff;
}

.gallery h2 {
	font-size: 16px;
	font-family: "NanumBold";
	background-color: #f6f5b5;
	color: #cd853f;
	line-height: 50px;
	padding-left: 20px;
	height: 50px;
	margin: 0 auto;
}

.gallery ul {
	overflow: hidden;
}

.gallery ul li {
	float: left;
	margin-left: 20px;
	width: 171px;
	margin-bottom: 13px;
}

.gallery ul li a {
	color: #555;
	font-size: 11px;
	font-family: '돋움', Dotum;
}

.gallery ul li a:hover {
	text-decoration: underline
}

.gallery ul li a .img {
	display: block;
}

.gallery ul li a .img img {
	width: 100%;
	height: 85px;
}

.gallery ul li a .txt {
	display: block;
	margin-top: 10px;
	line-height: 14px;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: center;
}

.gallery .btn_more {
	font-size: 0;
	line-height: 0;
	text-indent: -9999em;
	position: absolute;
	right: 20px;
	top: 20px;
	width: 20px;
	height: 20px;
	background: url(../img/category.png) no-repeat;
}