@charset "utf-8";

@import url(common.css);

#container {
	position: relative;
	background: #fbf4e5;
	height: 100%;
	margin: -21px;
}

#container:after {
	content: "";
	display: block;
	clear: both;
}

.main_content {
	position: relative;
	width: 100%;
	margin: 21px 400px 0 400px;
	padding: 0 0 70px 0;
	height: 800px;
	overflow: hidden;
}

.main_content:after {
	content: "";
	display: block;
	clear: both;
}

.cont_2 {
	position: absolute;
	width: 225px;
	top: 150px;
	right: 0;
}
/* 메인 비주얼 */
.main_visual {
	width: 100% -4px;
}

.main_visual img {
	margin: 50px;
	width: 700px;
	height: 250px;
	float: left;
}
/* 카테고리 */
.category {
	position: fixed;
	width: 100%;
	height: 200px;
	border-radius: 10px;
	background-color: #fbf4e5;
	overflow-y: hidden;
	float: left;
}

.category h2 {
	border-radius: 10px 10px 0 0;
	height: 35px;
	font-size: 16px;
	color: #cd853f;
	background: #f6f5b5;
	padding: 12px 0 0 12px;
	margin: 0 auto;
}

.category ul {
	height: 200px;
	font-family: '돋움', Dotum;
	border-radius: 0 0 10px 10px;
	background: #fff;
	overflow-y: scroll;
	margin: 0 auto;
}

.category li { /* 카테고리 li */
	font-size: 13px;
	height: 39px;
	line-height: 39px;
	border-bottom: 1px solid #d2d2d2;
	background: #fff;
	list-style: none;
}

.category li a { /* 카테고리 li a */
	display: inline-block;
	color: #666;
	letter-spacing: -0.05em;
}

.category li a:hover {
	color: #a3a3a3;
	text-decoration: none;
}

.category li:last-child {
	border-bottom: none;
}
/* 우리반시간표 */
.schedule {
	position: absolute;
	margin: 10px 0 0 0;
	left: 47px;
	top: 535px;
	width: 338px;
	/* height: 300px; */
	background: #fff;
	border-radius: 10px;
	overflow-y: auto;
	background: #f6f5b5;
	color: #cd853f;
	clear: both;
}

.schedule h2 {
	display: inline-block;
	*display: inline;
	zoom: 1;
	font-size: 16px;
	font-family: "NanumBold";
	height: 22px;
	line-height: 22px;
	padding: 0 0 0 20px;
}

.schedule .inner {
	width: 338px;
	height: 215px;
	text-align: center;
	overflow: hidden;
	overflow-y: scroll;
	white-space: nowrap
}

.schedule table {
	background: #fff;
	width: 100%;
	font-size: 12px
}

.schedule caption {
	background-color: #fff;
	color: black;
}

.schedule table th, .schedule table td {
	border-left: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	padding: 6px 8px;
	line-height: 18px
}

.schedule table th:first-child, .schedule table td:first-child {
	border-left: 0;
	color: #3f7448
}

.schedule table th {
	background-color: #5a5a5a;
	text-align: center;
	color: #fff
}

.schedule table td {
	color: #666
}

/* 식단표 */
.menuplanner {
    position: absolute;
    left: 1146px;
    top: 405px;
    width: 320px;
    height: 258px;
    border-radius: 10px;
    overflow-y: auto;
    background: #f6f5b5;
    color: #cd853f;
    clear: both;
    text-align: center;
}
.menuplanner .menu a {
  	color: black;
}
.menuplanner .menu ul li {
  	list-style: none;
  	text-align: center;
}


/* 게시판, 알림장 */
.notice_area {
	width: 768px;
	margin-top: 20px;
	*padding-top: 20px;
}

.notice_area div {
	float: left;
	margin-left: 27px;
}

.notice_area .m_noti01 {
	margin-left: 0;
}

.notice {
	width: 338px;
	height: 205px;
	position: relative;
	overflow: hidden;
	overflow-y: scroll;
	border-radius: 10px;
	background: #fff;
	bottom: 40px;
	left: 48px;
}

.notice h2 {
	font-size: 16px;
	font-family: "NanumBold";
	color: #cd853f;
	background-color: #f6f5b5;
	padding: 22px 0 10px 20px;
	margin: 0 auto;
	height: 22px;
	line-height: 10px;
}

.notice .list_box, .gallery .list_box {
	overflow: hidden;
	font-family: '돋움', Dotum;
	font-size: 12px;
	padding: 6px 0 0;
	line-height: 26px;
	*line-height: 24px
}

.notice .list_box li, .gallery .list_box li {
	overflow: hidden;
	font-size: 12px;
	padding-left: 30px;
	line-height: 24px;
}

.notice .list_box li a, .gallery .list_box li a {
	color: #706a5f
}

.notice .list_box li a:hover, .gallery .list_box li a:hover {
	text-decoration: underline;
}

.notice .list_box li span.text, .gallery .list_box li span.text {
	float: left;
	width: 70%;
	*width: 60%;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.notice .list_box li span.date {
	float: right;
	color: #797979;
	margin-right: 20px;
}

.notice .btn_more {
	font-size: 0;
	line-height: 0;
	text-indent: -9999em;
	position: absolute;
	right: 20px;
	top: 14px;
	width: 28px;
	height: 28px;
	background-position: center;
}

/* 학급앨범 */
.gallery {
	width: 671px;
	height: 256px;
	top: 547px;
	position: absolute;
	left: 413px;
	overflow: hidden;
	border-radius: 10px;
	background: #fff;
}

.gallery h2 {
	font-size: 16px;
	font-family: "NanumBold";
	background-color: #f6f5b5;
	color: #cd853f;
	line-height: 50px;
	padding-left: 20px;
	height: 50px;
	margin: 0 auto;
}

.gallery ul {
	overflow: hidden;
}

.gallery ul li {
	float: left;
	margin-left: 20px;
	width: 171px;
	margin-bottom: 13px;
}

.gallery ul li a {
	color: #555;
	font-size: 11px;
	font-family: '돋움', Dotum;
}

.gallery ul li a:hover {
	text-decoration: underline
}

.gallery ul li a .img img {
	width: 100%;
	height: 85px;
}

.gallery ul li a .txt {
	display: block;
	margin-top: 10px;
	line-height: 14px;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: center;
}

.gallery .btn_more {
	font-size: 0;
	line-height: 0;
	text-indent: -9999em;
	position: absolute;
	right: 20px;
	top: 14px;
	width: 20px;
	height: 20px;
	background: url(../img/category.png) no-repeat;
	display: block;
}
/* 급훈 */
.Class_Instruction { 
	position:absolute;
	width: 320px;
	height: 200px;
	top: 70px;
	left: 1160px;
	background-color : #1b2026;
	color: #fff; 
	border-radius: 10px;
}

